In [1]:
import pandas as pd
import numpy as np

In [197]:
data = pd.read_excel("UW Data All Years.xlsx")
data.head()

,Year,Station Code,Station Name,State,Min Temperature,Max Temperature,Min pH,Max pH,Min Conductivity,Max Conductivity,Min BOD,Max BOD,Min NitrateN + NitriteN,Max NitrateN + NitriteN,Min Faecal Coli form,Max Faecal Coli form,Min Total Coli form,Max Total Coli form
0,2016,26,WELL AT VIJAYWADA,ANDHRA PRADESH,22.0,26.0,7.51,8.03,960.0,1418.0,NaN,NaN,2.7,4.6,NaN,NaN,400.0,400.0
1,2016,1513,"BORE WELL. KRISHNA MURTHY, D.NO. 481643\nAUTO...",ANDHRA PRADESH,23.0,26.0,7.70,8.00,1214.0,1260.0,NaN,NaN,0.0,1.9,NaN,NaN,400.0,400.0
2,2016,1514,"BORE WELL VIJAY KUMAR AUTONAGAR\nVIJAYAWADA, ...",ANDHRA PRADESH,23.0,23.0,7.40,8.00,1010.0,1427.0,NaN,NaN,0.2,1.1,NaN,NaN,400.0,400.0
3,2016,1516,BORE WELL OF NAVLOK GARDENS NELLORE,ANDHRA PRADESH,NaN,NaN,8.50,8.60,557.0,670.0,NaN,NaN,0.5,0.6,NaN,NaN,400.0,400.0
4,2016,1517,BORE WELL. TUNGBHADRA RIVER NEAR\nKURNOOL,ANDHRA PRADESH,23.0,29.0,7.60,7.90,4060.0,4220.0,0.7,1.0,2.1,2.6,NaN,NaN,18.0,18.0

In [198]:
data .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4103 entries, 0 to 4102
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     4103 non-null   int64
 1   Station Code             4103 non-null   int64
 2   Station Name             4103 non-null   object
 3   State                    4103 non-null   object
 4   Min Temperature          3771 non-null   float64
 5   Max Temperature          3767 non-null   float64
 6   Min pH                   4070 non-null   float64
 7   Max pH                   4070 non-null   float64
 8   Min Conductivity         4050 non-null   float64
 9   Max Conductivity         4050 non-null   float64
 10  Min BOD                  3185 non-null   float64
 11  Max BOD                  3187 non-null   float64
 12  Min NitrateN + NitriteN  3685 non-null   float64
 13  Max NitrateN + NitriteN  3685 non-null   float64
 14  Min Faecal Coli form     3092 non-null   float64
 15  Max Faecal Coli form     3092 non-null   float64
 16  Min Total Coli form      3364 non-null   float64
 17  Max Total Coli form      3364 non-null   float64
dtypes: float64(14), int64(2), object(2)
memory usage: 577.1+ KB

In [199]:
data.isnull().sum()

Year                          0
Station Code                  0
Station Name                  0
State                         0
Min Temperature             332
Max Temperature             336
Min pH                       33
Max pH                       33
Min Conductivity             53
Max Conductivity             53
Min BOD                     918
Max BOD                     916
Min NitrateN + NitriteN     418
Max NitrateN + NitriteN     418
Min Faecal Coli form       1011
Max Faecal Coli form       1011
Min Total Coli form         739
Max Total Coli form         739
dtype: int64

In [200]:
data["Min Temperature"] = pd.to_numeric(data["Min Temperature"])

In [201]:
data['Min Temperature'] = data['Min Temperature'].fillna(data['Min Temperature'].median())
data['Min Temperature'].isnull().sum()

0

In [202]:
data["Max Temperature"] = pd.to_numeric(data["Max Temperature"])
data['Max Temperature'] = data['Max Temperature'].fillna(data['Max Temperature'].median())
data['Max Temperature'].isnull().sum()

0

In [203]:
data["Min pH"] = pd.to_numeric(data["Min pH"])
data['Min pH'] = data['Min pH'].fillna(data['Min pH'].median())
data['Min pH'].isnull().sum()

0

In [204]:
data["Max pH"] = pd.to_numeric(data["Max pH"])
data['Max pH'] = data['Max pH'].fillna(data['Max pH'].median())
data['Max pH'].isnull().sum()

0

In [205]:
data["Min Conductivity"] = pd.to_numeric(data["Min Conductivity"])
data['Min Conductivity'] = data['Min Conductivity'].fillna(data['Min Conductivity'].median())
data['Min Conductivity'].isnull().sum()

0

In [206]:
data["Max Conductivity"] = pd.to_numeric(data["Max Conductivity"])
data['Max Conductivity'] = data['Max Conductivity'].fillna(data['Max Conductivity'].median())
data['Max Conductivity'].isnull().sum()

0

In [207]:
data["Min BOD"] = pd.to_numeric(data["Min BOD"])
data['Min BOD'] = data['Min BOD'].fillna(data['Min BOD'].median())
data['Min BOD'].isnull().sum()

0

In [208]:
data["Max BOD"] = pd.to_numeric(data["Max BOD"])
data['Max BOD'] = data['Max BOD'].fillna(data['Max BOD'].median())
data['Max BOD'].isnull().sum()

0

In [209]:
data["Min NitrateN + NitriteN"] = pd.to_numeric(data["Min NitrateN + NitriteN"])
data['Min NitrateN + NitriteN'] = data['Min NitrateN + NitriteN'].fillna(data['Min NitrateN + NitriteN'].median())
data['Min NitrateN + NitriteN'].isnull().sum()

0

In [210]:
data["Max NitrateN + NitriteN"] = pd.to_numeric(data["Max NitrateN + NitriteN"])
data['Max NitrateN + NitriteN'] = data['Max NitrateN + NitriteN'].fillna(data['Max NitrateN + NitriteN'].median())
data['Max NitrateN + NitriteN'].isnull().sum()

0

In [211]:
data["Min Faecal Coli form"] = pd.to_numeric(data["Min Faecal Coli form"])
data['Min Faecal Coli form'] = data['Min Faecal Coli form'].fillna(data['Min Faecal Coli form'].median())
data['Min Faecal Coli form'].isnull().sum()

0

In [212]:
data["Max Faecal Coli form"] = pd.to_numeric(data["Max Faecal Coli form"])
data['Max Faecal Coli form'] = data['Max Faecal Coli form'].fillna(data['Max Faecal Coli form'].median())
data['Max Faecal Coli form'].isnull().sum()

0

In [213]:
data["Min Total Coli form"] = pd.to_numeric(data["Min Total Coli form"])
data['Min Total Coli form'] = data['Min Total Coli form'].fillna(data['Min Total Coli form'].median())
data['Min Total Coli form'].isnull().sum()

0

In [214]:
data["Max Total Coli form"] = pd.to_numeric(data["Max Total Coli form"])
data['Max Total Coli form'] = data['Max Total Coli form'].fillna(data['Max Total Coli form'].median())
data['Max Total Coli form'].isnull().sum()

0

In [215]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4103 entries, 0 to 4102
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     4103 non-null   int64
 1   Station Code             4103 non-null   int64
 2   Station Name             4103 non-null   object
 3   State                    4103 non-null   object
 4   Min Temperature          4103 non-null   float64
 5   Max Temperature          4103 non-null   float64
 6   Min pH                   4103 non-null   float64
 7   Max pH                   4103 non-null   float64
 8   Min Conductivity         4103 non-null   float64
 9   Max Conductivity         4103 non-null   float64
 10  Min BOD                  4103 non-null   float64
 11  Max BOD                  4103 non-null   float64
 12  Min NitrateN + NitriteN  4103 non-null   float64
 13  Max NitrateN + NitriteN  4103 non-null   float64
 14  Min Faecal Coli form     4103 non-null   float64
 15  Max Faecal Coli form     4103 non-null   float64
 16  Min Total Coli form      4103 non-null   float64
 17  Max Total Coli form      4103 non-null   float64
dtypes: float64(14), int64(2), object(2)
memory usage: 577.1+ KB

In [216]:
data.isnull().sum()

Year                       0
Station Code               0
Station Name               0
State                      0
Min Temperature            0
Max Temperature            0
Min pH                     0
Max pH                     0
Min Conductivity           0
Max Conductivity           0
Min BOD                    0
Max BOD                    0
Min NitrateN + NitriteN    0
Max NitrateN + NitriteN    0
Min Faecal Coli form       0
Max Faecal Coli form       0
Min Total Coli form        0
Max Total Coli form        0
dtype: int64

In [217]:
data.to_excel("UW Data All Years cleaned.xlsx", index=False)