In [98]:
import pandas as pd
import numpy as np

In [99]:
data = pd.read_excel("WQuality Data Final.xlsx")
data.head()

,year,station code,Station Name,State Name,River Name,Min Temperature,Max Temperature,Min Dissolved oxygen,Max Dissolved oxygen,Min pH,...,Min Conductivity,Max Conductivity,Min BOD,Max BOD,Min Nitrate-N + Nitrite-N,Max Nitrate-N + Nitrite-N,Min Faecal Coli form,Max Faecal Coli form,Min Total Coli form,Max Total Coli form
0,2016,1001,BEAS U/S MANALI,HIMACHAL PRADESH,BEAS,25.0,31.0,5.5,8.00,7.8,...,194.0,486.0,1.2,3.0,0.2,0.9,130.0,1300.0,840.0,3500.0
1,2016,2601,BEAS D/S MANALI,HIMACHAL PRADESH,BEAS,5.0,19.0,7.6,10.10,7.0,...,88.0,152.0,0.1,0.3,0.0,1.0,11.0,43.0,70.0,280.0
2,2016,2602,BEAS U/S KULLU,HIMACHAL PRADESH,BEAS,5.0,20.0,7.7,9.60,6.8,...,92.0,194.0,0.1,0.1,0.0,0.8,11.0,34.0,94.0,280.0
3,2016,1002,BEAS D/S KULU,HIMACHAL PRADESH,BEAS,24.0,25.0,NaN,NaN,4.3,...,205.0,224.0,0.4,0.8,0.5,0.9,2.0,30.0,0.0,100.0
4,2016,1003,BEAS D/S AUT,HIMACHAL PRADESH,BEAS,23.0,29.0,2.5,6.82,6.9,...,76.0,326.0,2.0,8.8,0.1,1.2,8.0,40.0,70.0,1600.0

In [100]:
data .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   year                       4410 non-null   int64
 1   station code               4410 non-null   object
 2   Station Name               4410 non-null   object
 3   State Name                 4410 non-null   object
 4   River Name                 4410 non-null   object
 5   Min Temperature            4332 non-null   float64
 6   Max Temperature            4331 non-null   float64
 7   Min Dissolved oxygen       4344 non-null   float64
 8   Max Dissolved oxygen       4346 non-null   float64
 9   Min pH                     4403 non-null   float64
 10  Max pH                     4403 non-null   float64
 11  Min Conductivity           4176 non-null   float64
 12  Max Conductivity           4178 non-null   float64
 13  Min BOD                    4320 non-null   float64
 14  Max BOD                    4320 non-null   float64
 15  Min Nitrate-N + Nitrite-N  3813 non-null   float64
 16  Max Nitrate-N + Nitrite-N  3822 non-null   float64
 17  Min Faecal Coli form       3752 non-null   float64
 18  Max Faecal Coli form       3751 non-null   float64
 19  Min Total Coli form        3902 non-null   float64
 20  Max Total Coli form        3907 non-null   float64
dtypes: float64(16), int64(1), object(4)
memory usage: 723.6+ KB

In [101]:
data.isnull().sum()

year                           0
station code                   0
Station Name                   0
State Name                     0
River Name                     0
Min Temperature               78
Max Temperature               79
Min Dissolved oxygen          66
Max Dissolved oxygen          64
Min pH                         7
Max pH                         7
Min Conductivity             234
Max Conductivity             232
Min BOD                       90
Max BOD                       90
Min Nitrate-N + Nitrite-N    597
Max Nitrate-N + Nitrite-N    588
Min Faecal Coli form         658
Max Faecal Coli form         659
Min Total Coli form          508
Max Total Coli form          503
dtype: int64

In [102]:
data["Min Temperature"] = pd.to_numeric(data["Min Temperature"])

In [103]:
data['Min Temperature'] = data['Min Temperature'].fillna(data['Min Temperature'].median())
data['Min Temperature'].isnull().sum()

0

In [104]:
data["Max Temperature"] = pd.to_numeric(data["Max Temperature"])
data['Max Temperature'] = data['Max Temperature'].fillna(data['Max Temperature'].median())
data['Max Temperature'].isnull().sum()

0

In [105]:
data["Min pH"] = pd.to_numeric(data["Min pH"])
data['Min pH'] = data['Min pH'].fillna(data['Min pH'].median())
data['Min pH'].isnull().sum()

0

In [106]:
data["Max pH"] = pd.to_numeric(data["Max pH"])
data['Max pH'] = data['Max pH'].fillna(data['Max pH'].median())
data['Max pH'].isnull().sum()

0

In [107]:
data["Min Conductivity"] = pd.to_numeric(data["Min Conductivity"])
data['Min Conductivity'] = data['Min Conductivity'].fillna(data['Min Conductivity'].median())
data['Min Conductivity'].isnull().sum()

0

In [108]:
data["Max Conductivity"] = pd.to_numeric(data["Max Conductivity"])
data['Max Conductivity'] = data['Max Conductivity'].fillna(data['Max Conductivity'].median())
data['Max Conductivity'].isnull().sum()

0

In [109]:
data["Min BOD"] = pd.to_numeric(data["Min BOD"])
data['Min BOD'] = data['Min BOD'].fillna(data['Min BOD'].median())
data['Min BOD'].isnull().sum()

0

In [110]:
data["Max BOD"] = pd.to_numeric(data["Max BOD"])
data['Max BOD'] = data['Max BOD'].fillna(data['Max BOD'].median())
data['Max BOD'].isnull().sum()

0

In [111]:
data["Min Nitrate-N + Nitrite-N"] = pd.to_numeric(data["Min Nitrate-N + Nitrite-N"])
data['Min Nitrate-N + Nitrite-N'] = data['Min Nitrate-N + Nitrite-N'].fillna(data['Min Nitrate-N + Nitrite-N'].median())
data['Min Nitrate-N + Nitrite-N'].isnull().sum()

0

In [112]:
data["Max Nitrate-N + Nitrite-N"] = pd.to_numeric(data["Max Nitrate-N + Nitrite-N"])
data['Max Nitrate-N + Nitrite-N'] = data['Max Nitrate-N + Nitrite-N'].fillna(data['Max Nitrate-N + Nitrite-N'].median())
data['Max Nitrate-N + Nitrite-N'].isnull().sum()

0

In [113]:
data["Min Faecal Coli form"] = pd.to_numeric(data["Min Faecal Coli form"])
data['Min Faecal Coli form'] = data['Min Faecal Coli form'].fillna(data['Min Faecal Coli form'].median())
data['Min Faecal Coli form'].isnull().sum()

0

In [114]:
data["Max Faecal Coli form"] = pd.to_numeric(data["Max Faecal Coli form"])
data['Max Faecal Coli form'] = data['Max Faecal Coli form'].fillna(data['Max Faecal Coli form'].median())
data['Max Faecal Coli form'].isnull().sum()

0

In [115]:
data["Min Total Coli form"] = pd.to_numeric(data["Min Total Coli form"])
data['Min Total Coli form'] = data['Min Total Coli form'].fillna(data['Min Total Coli form'].median())
data['Min Total Coli form'].isnull().sum()

0

In [116]:
data["Max Total Coli form"] = pd.to_numeric(data["Max Total Coli form"])
data['Max Total Coli form'] = data['Max Total Coli form'].fillna(data['Max Total Coli form'].median())
data['Max Total Coli form'].isnull().sum()

0

In [117]:
data["Min Dissolved oxygen"] = pd.to_numeric(data["Min Dissolved oxygen"])
data['Min Dissolved oxygen'] = data['Min Dissolved oxygen'].fillna(data['Min Dissolved oxygen'].median())
data['Min Dissolved oxygen'].isnull().sum()

0

In [118]:
data["Max Dissolved oxygen"] = pd.to_numeric(data["Max Dissolved oxygen"])
data['Max Dissolved oxygen'] = data['Max Dissolved oxygen'].fillna(data['Max Dissolved oxygen'].median())
data['Max Dissolved oxygen'].isnull().sum()

0

In [119]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   year                       4410 non-null   int64
 1   station code               4410 non-null   object
 2   Station Name               4410 non-null   object
 3   State Name                 4410 non-null   object
 4   River Name                 4410 non-null   object
 5   Min Temperature            4410 non-null   float64
 6   Max Temperature            4410 non-null   float64
 7   Min Dissolved oxygen       4410 non-null   float64
 8   Max Dissolved oxygen       4410 non-null   float64
 9   Min pH                     4410 non-null   float64
 10  Max pH                     4410 non-null   float64
 11  Min Conductivity           4410 non-null   float64
 12  Max Conductivity           4410 non-null   float64
 13  Min BOD                    4410 non-null   float64
 14  Max BOD                    4410 non-null   float64
 15  Min Nitrate-N + Nitrite-N  4410 non-null   float64
 16  Max Nitrate-N + Nitrite-N  4410 non-null   float64
 17  Min Faecal Coli form       4410 non-null   float64
 18  Max Faecal Coli form       4410 non-null   float64
 19  Min Total Coli form        4410 non-null   float64
 20  Max Total Coli form        4410 non-null   float64
dtypes: float64(16), int64(1), object(4)
memory usage: 723.6+ KB

In [120]:
data.isnull().sum()

year                         0
station code                 0
Station Name                 0
State Name                   0
River Name                   0
Min Temperature              0
Max Temperature              0
Min Dissolved oxygen         0
Max Dissolved oxygen         0
Min pH                       0
Max pH                       0
Min Conductivity             0
Max Conductivity             0
Min BOD                      0
Max BOD                      0
Min Nitrate-N + Nitrite-N    0
Max Nitrate-N + Nitrite-N    0
Min Faecal Coli form         0
Max Faecal Coli form         0
Min Total Coli form          0
Max Total Coli form          0
dtype: int64

In [121]:
data.to_excel("WQuality Data Final cleaned.xlsx", index=False)